<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <h4>Score: <span id="Score">0</span></h4>
    <h4>Lives: <span id="Lives">3</span></h4>
  </header>



<script src="/js/main.js"></script>
</body>
</html>
